name: Default workflow for a runtime application when a PR is opened

on:
  workflow_call:
    inputs:
      fallback_runner:
        description:
          'If true will leverage ubuntu-latest, otherwise will fall back to the
          J1 in-house runner'
        default: false
        type: boolean
      use_validate:
        description: 'Run validation, in most case we want this'
        default: true
        type: boolean
      use_chromatic:
        description: 'Run VRT Storybook tests with chromatic'
        default: false
        type: boolean
      magic_url_route:
        description: 'The relative route the magic url should go to'
        type: string
        default: '/'
    secrets:
      NPM_TOKEN:
        description: 'A J1 npm.com Publish token'
        required: true
      CHROMATIC_PROJECT_TOKEN:
        description: 'The Chromatic API token'
        required: false

env:
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pr_comment:
    runs-on:
      ${{ (inputs.fallback_runner && 'ubuntu-latest') ||
      'scaleset-jupiterone-infra-arm64' }}
    steps:
      - uses: actions/checkout@v3
      - name: pr_comment
        uses: jupiterone/.github/.github/actions/pr_comment@v3.0.53
        with:
          message:
            To run E2E tests leave a comment on the PR in the form of
            '/run-e2e-tests'

  migration_number:
    runs-on:
      ${{ (inputs.fallback_runner && 'ubuntu-latest') ||
      'scaleset-jupiterone-infra-arm64' }}
    outputs:
      migration: ${{ steps.migration_number.outputs.migration }}
    steps:
      - uses: actions/checkout@v3
      - id: migration_number
        name: migration_number
        uses: jupiterone/.github/.github/actions/frontend/runtime/migration_number@v3.0.53

  validate:
    # Name targeted by branch protections, do not change
    name: Validate
    runs-on:
      ${{ (inputs.fallback_runner && 'ubuntu-latest') ||
      'scaleset-jupiterone-infra-arm64' }}
    if: ${{ inputs.use_validate }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: setup_env
        uses: jupiterone/.github/.github/actions/setup_env@v3.0.53
        with:
          use_dev: true
      - name: remote_types_install
        uses: jupiterone/.github/.github/actions/frontend/runtime/remote_types_install@v3.0.53
      - name: validate
        uses: jupiterone/.github/.github/actions/validate@v3.0.53

  chromatic_upload:
    # Name targeted by branch protections, do not change
    name: Visual Regression
    runs-on:
      ${{ (inputs.fallback_runner && 'ubuntu-latest') ||
      'scaleset-jupiterone-infra-arm64' }}
    if: ${{ inputs.use_chromatic }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: setup_env
        uses: jupiterone/.github/.github/actions/setup_env@v3.0.53
        with:
          use_dev: true
      - name: chromatic_upload
        uses: jupiterone/.github/.github/actions/frontend/chromatic@v3.0.53
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          chromatic_project_token: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
